.App {
  text-align: center;
  background-color: black
}

.Navbar{
  float: left;
  background-color: blue;
  height: 51vw;
}

.inner-navbar{
  width: 250px;
  padding-top: 20px;
}

#navicon{
  display: flex;
  width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.App-link {
  color: blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
